/* Global CSS for the site */

body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.secret-link {
  color: #000;
}

.secret-link a {
  text-decoration: none;
}

.secret-link:hover {
  color: cadetblue;
  text-decoration: none;
}